<% include ../partials/header %>
  <h1> Edit <%= post.title %></h1>
  <form action="/movies/<%= post.id %>?_method=PUT" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="post[plot]" value="<%= post.plot %>">
      <button>Submit</button>
    </div>
  </form>

<% include ../partials/footer %>
